@import "../../app.scss";

.categoryBar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0c0c1d;
 
}
.h1 {
    font-size: 3rem; /* 36px */
    line-height: 5rem; /* 40px */
    font-weight: bold;
    color: #fff;
  }