// Tech.scss
@import "../../app.scss";

.skills {
  .sectionHeadText {
    color: white;
    font-weight: bold;
    font-size: 60px;


    @include mobile {
      font-size: 40px;
    }
  }

  .balls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: center;
    gap: 1rem;
    
    margin-top: 1.25rem;
    @include mobile{
        gap: 0.5rem;
        margin-top: 0.5rem;
        padding-left: 0;
        padding-right: 0;
    }
  }

  .ball {
    height: 9rem;
    width: 9rem;
    @include mobile{
        height: 6.5rem;
        width: 6.5rem;
    }
  }
}
